# Log files
*.log

# Dependency directories
node_modules/
venv/
.venv/

# Environment variables and secrets
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Docker secrets
.env.docker

# Misc files.
job_description.txt
generated/*Job Fit Analysis.*